.home
{
    display: flex;
    flex-direction: row;
    width: 1850px;
    height: 870px;
    margin-top: 0px;
    align-items: flex-start;
}

.black-left
{
    display: flex;
    background-color: black;
    width: 400px;
    height: 870px;
    
}

.left-big
{
    display: flex;
    width: 450px;
    height: 870px;
    margin-top: 0px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.left-big .background
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
}

.logo
{   
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-bottom: 280px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 400px;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

.logo img
{
    width: 60px;
    height: auto;
}

.right-big
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 870px;
    margin-top: 0px;
    padding-right: 100px;
}

.top
{
    display: flex;
    background-color: #252322;
    height: 335px;
    width: 800px;
}

.mid
{
    display: flex;
    background-color: #2b1e1a;
    height: 200px;
    width: 800px;
}


.bottom
{
    display: flex;
    background-color: #252322;
    height: 335px;
    width: 800px;
}


.black-right
{
    display: flex;
    background-color: black;
    width: 450px;
    height: 870px;
}